@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;900&family=Roboto:wght@300;400;500;700;900&display=swap');

*{
	margin: 0;
	padding: 0;
}
body{ font-family: 'Roboto', sans-serif;
	

}
.container{	
	width: 1200px;
	margin: auto;
	}

.row{
    display: flex;
    flex-wrap: wrap;
   
}
img{
	max-width: 100%;
}
.col-3{
    max-width: 33.33%;
    flex-basis: 33.33%;
    padding: 15px;
    box-sizing: border-box;
}


/*-----header-css---*/
header{

    border-bottom: 2px solid #3b506c17;
}
header .row{
	 align-items: center;
}
.logo{
	flex-basis: 20%;
    max-width: 20%;
}
.logo a{}
.logo a img{}
nav{
	flex-basis: 80%;
    max-width: 80%;
}
nav ul{
	justify-content: flex-end;
    display: flex;
    list-style: none;
}
nav ul li {}
nav ul li a {
	padding: 20px 15px;
	display: block;
	color: #3b506c;
	text-decoration: none;
	text-transform: capitalize;
	font-weight: 400;
	font-size: 20px;
}
nav ul li a:hover{}
/*-----banner-section-css---*/
.banner-section{
    padding: 50px 0;
}
.content{
    text-align: center;
}
.content h1{
    font-size: 50px;
    color: #3b506c;
}
.content h1 span{
    display: block;
    color: #0c66ff;
}
.content img{
    max-width: 500px;
}
.content p{
    max-width: 800px;
    margin:  20px auto;
    color: #3b506cad;
    font-size: 18px;
    font-weight: 300;
}
/*feature-section-css*/

.feature-section{}
.feature-section .row{
	justify-content: center;

}


.feature-content{}

.feature-content h2{
	font-size: 50px;
    color: #3b506c;
    line-height: 1;
    font-weight: 800;
}
.feature-content h2 span{
    color: #f55878;
}
.feature-content p{
	margin: 4px auto;
	color: #3b506cad;
	font-size: 16px;
	font-weight: 400;
}
.span-right{
	text-align: right;
}

/*block-section-css*/
.block-section
{
	margin:  20px auto;
	color: #3b506cad;
	font-size: 15px;
	font-weight: 300;
	}
.post{
	padding: 70px 35px;
	box-shadow: 0 0 3px 0px #3b506c82;
	
}
.post:hover{
	transform: translateY(-6px);
    transition: all ease .4s;
}


.post h3{
	font-size: 20px;
    color: #3b506c;
    line-height: 3;
    font-weight: 600;
}
.post img{
	height: 220px;
	display: block;
	margin: auto;
	margin-bottom: 25px;
	
}
.ill-5{
	background: #fdebed;
}
.ill-6{
	background: #ebf9f4;
}
.ill-7{
	background: #fff7e8;
}
/*footer-section-css*/
footer{background: #0c66ff;
    text-align: center;
    padding: 25px 0;}
footer p {
	color: #ffffff94;

}
footer p strong {
	color: white;
    letter-spacing: 2px;
}



